*:focus-visible {
	outline: 1px solid red;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	position: relative;
	min-width: 320px;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	background: beige;
}
