@use 'mixins' as mx;

// 100 - Thin (Hailine)
// 200 - Extra Light (Ultra Light)
// 300 - Light
// 400 - Normal (Regular)
// 500 - Medium
// 600 - SemiBold (DemiBold)
// 700 - Bold
// 800 - ExtraBold (UltraBold)
// 900 - Black (Heavy)
// 950 - ExtraBlack (UltraBlack)

// @include font('FontName', 'fileName', 'weight');

@include mx.font('OpenSans', 'OpenSans-Regular', 400);
