html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: none;
}

html {
	text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	min-height: 100vh;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentcolor;
}

input,
button,
textarea,
select {
	font: inherit;
}

textarea:not([rows]) {
	min-height: 10em
}

:target {
	scroll-margin-block: 5ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	font-weight: 700;
	line-height: 1.2;

	&:not(:first-child) {
		margin-top: 20px;
	}
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
