.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: #000;
}

/* stylelint-disable */
	.icon-facebook {
		font-size: calc(35 / 10) * 1rem;
		width: calc(35 / 35) * 1em;
	}
	.icon-instagram {
		font-size: calc(34 / 10) * 1rem;
		width: calc(36 / 34) * 1em;
	}
/* stylelint-enable */
