.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: #000;
}

/* stylelint-disable */
{{#shapes}}
	.icon-{{base}} {
		font-size: calc({{height.inner}} / 10) * 1rem;
		width: calc({{width.inner}} / {{height.inner}}) * 1em;
	}
{{/shapes}}
/* stylelint-enable */
