//- variables
block variables
	- const siteTitle = 'Gulp Boilerplate';
	- const lang = 'en';
	- const description = '';
	- const author = 'Serhii Mykulyn';

doctype html
html(lang=lang)
	head
		meta(charset='UTF-8')
		title #{siteTitle}
		meta(name='description', content=description)
		meta(name='author', content=author)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='./css/main.min.css')
	body
		block content
